<a href="https://colab.research.google.com/github/EmilioSaulG/CollabClass/blob/main/desafio_notas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Desafío**

Para practicar los métodos aprendidos en esta lección y aprender nuevos, realizaremos algunos tratamientos y selecciones utilizando un archivo CSV diferente: alumnos.csv.

Mounted at /content/drive

In [1]:
import pandas as pd

url = 'https://gist.githubusercontent.com/ahcamachod/807a2c1cf6c19108b2b701ea1791ab45/raw/fb84f8b2d8917a89de26679eccdbc8f9c1d2e933/alumnos.csv'

pd.read_csv(url)

      Nombre  Edad  Nota   Aprobado
0    Alberto    20   7.5       True
1        Ana    18   NaN      False
2     Camila    27   2.5      False
3      David    18   5.0      False
4      Brian    21  10.0       True
5      Bruna    23   NaN      False
6    Daniela    21   7.0       True
7     Carlos    19   6.0      False
8     Alicia    35   5.6      False
9     Victor    28   NaN      False
10    Danilo    21   NaN      False
11   Ignacio    24   4.5      False
12  Stephany    26  10.0       True
13    Miriam    25   9.0       True
14     Pablo    37   NaN      False
15    Milena    29   7.0       True
16     Lucas    33   NaN      False
17     Nadia    34   8.0  Verdadero

In [2]:
pd.read_csv(url, sep=',')

      Nombre  Edad  Nota   Aprobado
0    Alberto    20   7.5       True
1        Ana    18   NaN      False
2     Camila    27   2.5      False
3      David    18   5.0      False
4      Brian    21  10.0       True
5      Bruna    23   NaN      False
6    Daniela    21   7.0       True
7     Carlos    19   6.0      False
8     Alicia    35   5.6      False
9     Victor    28   NaN      False
10    Danilo    21   NaN      False
11   Ignacio    24   4.5      False
12  Stephany    26  10.0       True
13    Miriam    25   9.0       True
14     Pablo    37   NaN      False
15    Milena    29   7.0       True
16     Lucas    33   NaN      False
17     Nadia    34   8.0  Verdadero

In [4]:
datos = pd.read_csv(url, sep=',')
datos

      Nombre  Edad  Nota   Aprobado
0    Alberto    20   7.5       True
1        Ana    18   NaN      False
2     Camila    27   2.5      False
3      David    18   5.0      False
4      Brian    21  10.0       True
5      Bruna    23   NaN      False
6    Daniela    21   7.0       True
7     Carlos    19   6.0      False
8     Alicia    35   5.6      False
9     Victor    28   NaN      False
10    Danilo    21   NaN      False
11   Ignacio    24   4.5      False
12  Stephany    26  10.0       True
13    Miriam    25   9.0       True
14     Pablo    37   NaN      False
15    Milena    29   7.0       True
16     Lucas    33   NaN      False
17     Nadia    34   8.0  Verdadero



1. Los estudiantes participaron en una actividad extracurricular y ganaron puntos extras. Estos puntos extras corresponden al 40% de su nota actual. Por lo tanto, crea una columna llamada "Puntos_extras" que contenga los puntos extras de cada estudiante, es decir, el 40% de su nota actual.

In [5]:
datos['Puntos_extra'] = datos['Nota'].apply(lambda x: x*0.4)

In [6]:
datos

      Nombre  Edad  Nota   Aprobado  Puntos_extra
0    Alberto    20   7.5       True          3.00
1        Ana    18   NaN      False           NaN
2     Camila    27   2.5      False          1.00
3      David    18   5.0      False          2.00
4      Brian    21  10.0       True          4.00
5      Bruna    23   NaN      False           NaN
6    Daniela    21   7.0       True          2.80
7     Carlos    19   6.0      False          2.40
8     Alicia    35   5.6      False          2.24
9     Victor    28   NaN      False           NaN
10    Danilo    21   NaN      False           NaN
11   Ignacio    24   4.5      False          1.80
12  Stephany    26  10.0       True          4.00
13    Miriam    25   9.0       True          3.60
14     Pablo    37   NaN      False           NaN
15    Milena    29   7.0       True          2.80
16     Lucas    33   NaN      False           NaN
17     Nadia    34   8.0  Verdadero          3.20

2. Crea otra columna llamada "Notas_finales" que contenga las notas de cada estudiante sumadas con los puntos extras.

In [11]:
datos['Notas_finales'] = datos['Nota'] + datos['Puntos_extra']

In [10]:
datos

      Nombre  Edad  Nota   Aprobado  Puntos_extra  Notas_finales
0    Alberto    20   7.5       True          3.00          10.50
1        Ana    18   NaN      False           NaN            NaN
2     Camila    27   2.5      False          1.00           3.50
3      David    18   5.0      False          2.00           7.00
4      Brian    21  10.0       True          4.00          14.00
5      Bruna    23   NaN      False           NaN            NaN
6    Daniela    21   7.0       True          2.80           9.80
7     Carlos    19   6.0      False          2.40           8.40
8     Alicia    35   5.6      False          2.24           7.84
9     Victor    28   NaN      False           NaN            NaN
10    Danilo    21   NaN      False           NaN            NaN
11   Ignacio    24   4.5      False          1.80           6.30
12  Stephany    26  10.0       True          4.00          14.00
13    Miriam    25   9.0       True          3.60          12.60
14     Pablo    37   NaN      False           NaN            NaN
15    Milena    29   7.0       True          2.80           9.80
16     Lucas    33   NaN      False           NaN            NaN
17     Nadia    34   8.0  Verdadero          3.20          11.20

3. Dado que hubo una puntuación extra, algunos estudiantes que no habían sido aprobados antes pueden haber sido aprobados ahora. En función de esto, crea una columna llamada "Aprobado_final" con los siguientes valores:

True: si el estudiante está aprobado (la nota final debe ser mayor o igual a 7.0).

False: si el estudiante está reprobado (la nota final debe ser menor que 7.0).

In [16]:
datos['Aprobado_final'] = datos['Notas_finales'].apply(lambda x: True if x >= 7.0 else False)

In [17]:
datos

,Nombre,Edad,Nota,Aprobado,Puntos_extra,Notas_finales,Aprobado_final
0,Alberto,20,7.5,True,3.00,10.50,True
1,Ana,18,NaN,False,NaN,NaN,False
2,Camila,27,2.5,False,1.00,3.50,False
3,David,18,5.0,False,2.00,7.00,True
4,Brian,21,10.0,True,4.00,14.00,True
5,Bruna,23,NaN,False,NaN,NaN,False
6,Daniela,21,7.0,True,2.80,9.80,True
7,Carlos,19,6.0,False,2.40,8.40,True
8,Alicia,35,5.6,False,2.24,7.84,True
9,Victor,28,NaN,False,NaN,NaN,False
10,Danilo,21,NaN,False,NaN,NaN,False
11,Ignacio,24,4.5,False,1.80,6.30,False
12,Stephany,26,10.0,True,4.00,14.00,True
13,Miriam,25,9.0,True,3.60,12.60,True
14,Pablo,37,NaN,False,NaN,NaN,False
15,Milena,29,7.0,True,2.80,9.80,True
16,Lucas,33,NaN,False,NaN,NaN,False
17,Nadia,34,8.0,Verdadero,3.20,11.20,True

4. Realiza una selección y verifica qué estudiantes no habían sido aprobados anteriormente, pero ahora fueron aprobados después de sumar los puntos extras.

In [27]:
#Primero aseguramos que el resultado dinal sea un boolean
datos['Aprobado'] = datos['Aprobado'].replace({'Verdadero': True, 'False': False, 'True': True}).astype(bool)

#Lo mismo con la nota final
datos['Aprobado_final'] = datos['Aprobado_final'].astype(bool)

In [28]:
seleccion = (datos['Aprobado'] == False) & (datos['Aprobado_final'] == True)
resultado = datos[seleccion]
resultado

   Nombre  Edad  Nota  Aprobado  Puntos_extra  Notas_finales  Aprobado_final
3   David    18   5.0     False          2.00           7.00            True
7  Carlos    19   6.0     False          2.40           8.40            True
8  Alicia    35   5.6     False          2.24           7.84            True

In [31]:
resultado.to_csv('/content/drive/MyDrive/ejercicios/estudiantes_aprobados.csv', index=False, sep=',')